<div class="container">
    <div class="flex-grid center page-title">
        <div class="col-1-1">
            <h1 class="mat-display-1" style="margin-bottom: 0;">Product Details</h1>
        </div>
    </div>
    <div class="flex-grid center product-container shadow">
        <div class="col-1-2 col-img">
            <img src="{{product.url}}" class="product-img" />

        </div>
        <div class="col-1-2">
            <div class=" col-content">
                <div class="title">
                    <h1>{{product.name}}</h1>
                </div>
                <div class="price">
                    <h3>price: {{product.price}}$</h3>
                </div>
                <div class="title">
                    <p>{{product.description}}</p>
                </div>
                <div class="action-container">
                    <button mat-icon-button color="primary" aria-label="increment quantity" class="product-action-icon"
                        (click)="onAdd()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-form-field appearance="outline" class="product-quantity">
                        <input matInput [value]="this.quantity" disabled>
                    </mat-form-field>
                    <button mat-icon-button color="primary" aria-label="increment quantity" class="product-action-icon"
                        (click)="onSub()">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
                <div class="action-container">
                    <button mat-raised-button color="primary" (click)="addToCart(product)" style="margin-bottom: 10px;"
                        [disabled]="this.quantity == 0">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>